@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
}

.header__container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.logo__container {
    width: auto;
}

.logo {
    width: 140px;
    cursor: pointer;
}

nav {
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 10px;
    margin: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.main__content {
    padding: 0 0 20px 0;
}

.filter__container {
    display: flex;
    justify-content: space-between;
    padding: 30px 35px 20px 35px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.filter__btn {
    border-bottom: 1px solid #989898;
    border-top: none;
    border-right: none;
    border-left: none;
    background: transparent;
    color: #686b78;
    padding: 10px 2px;
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.filter__btn:hover {
    background: transparent;
    color: #111111;
    transform: translateY(-2.5)
}

.filter__btn .active {
    border-bottom: 1px solid #111111;
    color: #111111;
}

.search__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.search__container button {
    padding: 10px 20px;
    border: 1px solid #333;
    background-color: #333;
    color: #FFF;
}

.search__container button:hover {
    background-color: #111;
    color: #FFF;
}

input[type=text]:focus::placeholder {
    color: #686b78;
    opacity: 1;
    /* Firefox */
    font-weight: 500;
}

input[type=text]:focus::placeholder {
    color: #111111;
}

input[type=text] {
    width: 10vw;
    border: 1px solid #686b78;
    border-radius: 0px;
    font-size: 14px;
    background-color: white;
    padding: 10px 20px 10px 20px;
    transition: width 0.4s ease-in-out;
    text-align: center;
    color: #111111;
    font-weight: 500;
}

input[type=text]:focus {
    width: 18vw;
    outline: none;
    border: 1px solid #111111;
}

input[type=text]:focus-visible {}

.res__container {
    padding: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.res__card__container {
    max-width: 1200px;
    margin: 0 auto;
}

.res__card {
    width: 260px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.res__card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
}

.res__card__img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.res__info {
    padding: 10px 20px 10px 20px;
    line-height: 1.6rem;
}

.res__info h2 {
    padding-bottom: 5px;
    font-size: 1.063rem;
    color: #333333;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.res__info h4 {
    color: #555555;
    font-size: 0.75rem;
    font-weight: 500;
}

.res__info h4.res__cuisines {
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 18px;
}

.res__card__bottom {
    display: flex;
    justify-content: space-between;
}

/* RestaurantCard Custom Shimmer UI */
.shimmer__container {
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 20px 20px;
    display: grid;
}

.shimmer__card {
    width: 260px;
    border-radius: 4px;
    margin: 15px;
    transition: all .3s ease-in-out;
    background-color: transparent;
    -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    100% {
        -webkit-mask-position: left
    }
}

.shimmer__img {
    width: 100%;
    height: 150px;
    border-radius: 4px 4px 0 0;
    background-color: #eaeaea;
}

.shimmer__info {
    height: auto;
}

.shimmer__line {
    height: 30px;
    margin: 10px auto;
    background-color: #eaeaea;
}

.shimmer__line:last-child {
    border-radius: 0 0 4px 4px;
}

/* Footer */
/* Author credit footer */

footer {
    background-color: #333;
    padding: 14px;
    z-index: 999;
    width: 100%;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
}

.author-footer {
    text-align: center;
    padding: 14px auto;
    color: #f6f7f9;
    font-weight: 600;
}

.author-footer a {
    color: #f6f7f9
}